extends baseDashboardForTruckOwner.pug
block style
    title Make A Bid
    link(rel='stylesheet', href='../static/style/dashboardStyle.css')
    link(rel='stylesheet', href='../static/style/BidNowForTruckOwner.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap', rel='stylesheet')

block content    
      section#sidebar
            ul.ul-inside-sidebar
                li
                    a#username.links-inside-sidebar Hello, #{user.name}
                li
                    a.links-inside-sidebar.real-links-in-sidebar.active(href='/customer/dashboard') Dashboard
                li
                    a.links-inside-sidebar.real-links-in-sidebar(href='/carrier/pendingBids') Pending Bids      
                li
                    a.links-inside-sidebar.real-links-in-sidebar(href='/currentBookings') Current Booking
                li
                    a.links-inside-sidebar.real-links-in-sidebar(href='') Payment
                li
                    a.links-inside-sidebar.real-links-in-sidebar(href='') Calculator
            ul.ul-inside-sidebar
                li
                    a.links-inside-sidebar.real-links-in-sidebar(href='') Setting
                li
                    a.links-inside-sidebar.real-links-in-sidebar(href='') Support
                li
                    a.links-inside-sidebar.real-links-in-sidebar(href='/logout') Log Out      
      section#main-section
        h1#dashboard-heading Bid Now
        include partial/flash-messages.pug 
        form.all-auctions(action="/doBid/" + auctionId , method="post")
            .inside-all-auctions Consignee's Name: 
              span #{thisAuction.name}
            .inside-all-auctions Consignee's Budget: 
              span ₹#{thisAuction.budget}
            .inside-all-auctions Pick Up City: 
              span #{thisAuction.pickUpCity}
            .inside-all-auctions Drop City:  
              span #{thisAuction.dropCity}
            .inside-all-auctions Load: 
              span #{thisAuction.load}
            .inside-all-auctions Items: 
              span #{thisAuction.item}
            .inside-all-auctions Truck: 
              span #{thisAuction.truck}
            .inside-all-auctions Date Of Shipping: 
              span #{thisAuction.datepicker}  
            .inside-all-auctions Total Bids: 
              span #{totalBids}  
            .inside-all-auctions Lowest Bid Till Now: 
              span #{lowestBid}  
            .inside-all-auctions 
                label.label-inside-form(for='bidAmount') Your Bid: 
                .input-div
                    input#budget(name='truckOwnersBid', type='number' , value='')              
            .inside-all-auctions    
                .div-containing-BidNowButton
                    input#bid-now-button(type="submit" value="Do Bid") 

block script
    script.
             // FOR ERRORS 
            let errorCross=document.querySelector(".error-cross");
            let nameInput=document.getElementById("name");
            errorCross.addEventListener("click",()=>{
            errorCross.parentElement.style.display="none";
            nameInput.focus()
            })

    script(src='../static/script/dashboardScript.js')
